.event-input-form {
    padding: 220px;
    text-align: center;
    top: 50%;
    left: 50%;
    float: left;
}

.zipcode-label {
    font-size: 35pt;
    font-weight: 50;
}

.location-label, .date-label  {
    padding-left: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 24pt;
}

.location-inputbox, .date-inputbox  {
    font-size: 14pt;
}

.submit-button {
    margin-top: 60px;
    text-align: center;
    width: 120px;
}

.event{
    right: 50%;
    text-align: center;
    max-width: 50%;
}

.event img{
    max-height: 500px;
    max-width: 500px;
}
