.input{
    text-align: center;
    padding: 145px;
    top: 50%;
    left: 50%;
}

.search-businesses-input {
    display: inline-block;
}

.list-of-businesses{
    padding-top: 30px;
}

.form-header {
    font-size: 45pt;
    font-weight: 50;
}

.looking-for-header {
    font-weight: 400;
    font-size: 21pt;
}

.looking-for-inputbox {
    text-align: center;
    font-size: 14pt;
}

.location-header {
    font-weight: 400;
    font-size: 21pt;
}

.location-inputbox {
    text-align: center;
    font-size: 14pt;
}