.input{
    text-align: center;
    padding: 230px;
    top: 50%;
    left: 50%;
}

.search-businesses-input {
    display: inline-block;
}

.list-of-businesses{
    padding-top: 30px;
}

.looking-for-header {
    font-weight: 400;
    font-size: 21pt;
}

.looking-for-inputbox {
    text-align: center;
    font-size: 14pt;
}

.location-header {
    font-weight: 400;
    font-size: 21pt;
}

.location-inputbox {
    text-align: center;
    font-size: 14pt;
}