body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-page {
  padding: 270px 0 0 510px;
}

.home-h1{
  font-size: 30pt;
}

.subtitle-h3 {
  font-size: 15pt;
  padding-left: 24px;
}

#navbar{
  position: absolute;
  flex-direction: row;
  margin: 0 auto;
  top: 10px;
}